body,
html {
    height: 100%;
}
.background {
    /* height: 100%; */
    background-image: linear-gradient(
        to right bottom,
        #f849ac,
        #e657c4,
        #ce66d8,
        #b173e7,
        #8e7ff2,
        #6b90fc,
        #439fff,
        #00acff,
        #00c0ff,
        #00d3fc,
        #0ee3f3,
        #60f2e9
    );
}

.navbar {
    font-size: 15px;
}

.hello {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-family: "Poppins";
}

.form {
    width: 100%;
    margin-left: 20%;
    margin-right: 20%;
}

.blur1 {
    margin-left: 20%;
    margin-right: 20%;
}

.table {
    margin-left: 20%;
    margin-right: 20%;
}

.glassy-text {
    font-family: courier;
    font-size: large;
    text-align: left;
    width: 75%;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .glassy-text {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.3);
    }
}

#form1 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

#form2 {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.2);
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    height: 185px;
}

#form3 {
    width: 10%;
    margin-left: 57%;
    margin-right: 33%;
    height: 100px;
}

#form4 {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1);
    height: 120px;
}

h1 {
    text-align: center;
}

#label1 {
    width: 200px;
    display: inline-block;
    margin-left: 45px;
}

#label2 {
    width: 100px;
    display: inline-block;
    font-size: 120%;
}

#Button1 {
    margin-top: 15px;
    width: 15%;
    height: 50px;
    margin-left: 45px;
}

#Button2 {
    width: 70%;
    height: 75px;
    background-color: azure;
}

#logo {
    height: 100px;
    width: 100%;
    margin-right: 85%;
}

#div1 {
    width: 12%;
    margin-left: 8%;
    height: 130px;
    float: left;
}

#div2 {
    width: 80%;
    height: 130px;
    float: right;
}

#div3 {
    height: 450px;
    width: 50%px;
    margin-left: 25%;
    margin-right: 25%;
}

#nav1 {
    background-color: azure;
    text: blue;
    width: 13%;
    height: 45%;
    text-align: center;
}

#img1 {
    text: blue;
    text-align: center;
    height: 45%;
    width: 13%;
    margin-left: 70%;
    float: left;
    margin-top: 35px;
}

#img2 {
    height: 80px;
    width: 80px;
    float: right;
    margin-top: 12px;
    margin-right: 9%;
}

#li1 {
    background-color: azure;
    position: relative;
    list-style: none;
    display: inline-block;
    width: 80px;
    text-align: center;
    padding: 2;
}

#a1 {
    display: block;
    color: skyblue;
    text-decoration: none;
}

#a1:hover {
    color: blue;
}

ul {
    display: none;
}

#img2:hover > ul {
    display: inline-block;
}

@media only screen and (max-width: 400px) {
    .card {
        width: 20%;
        height: 20%;
    }
}
